body{
    background-color: dimgray;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/18/10/56/railroad-163518_1280.jpg");
    font-family: "segoe UI",Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    height: 150px;
    border-radius: 100px;
    border: 10px solid rgb(rgb(0, 42, 121));
    padding: 15px;
}
